body {
    background-color: #49454f;
}

h1,h2 {
    text-align: center;
    color: rgb(255, 249, 235);
}

p {
    color: rgb(255, 249, 235);
}

img {
    object-fit: cover;
    margin: 2px;
}

.selected {
    border: 3px solid green;
    border-block-color: green;
    box-shadow: 5px 5px 5px rgb(34, 34, 34);
    

    
}